

.container{
  
}

.div{
  display: absolute;
  margin-left: 100px;
}

.sidebar {
  width: 200px;
  
  margin-left: 30%;
  margin-top: 20%;
}

.sidebar a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ccc;
}


p{
  
}