

.container{
  font-size: 20px;
}


.sidebar {
  width: 200px;
  
  margin-left: 30%;
  margin-top: 20%;
}

.sidebar a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ccc;
}


.name {
  margin-left: 30%;
}

.under-title{
  margin-left: 30%;
}